- content_for :content do
  %h1 Cucumber Examples
  
  .push
  .push
  .prepend-4.span-8
    %h2= link_to("Items", items_url)
  .prepend-1.span-8
    %h2= link_to("Special Items", special_items_url)  